<form action="" class="login-form">
    <div class="control-panel">
        <h1 class="h1">Вход</h1>
        <label class="control-label">
            Логин
            <input class="control-input" type="text" placeholder="Введите логин">
        </label>
        <label class="control-label">
            Пароль
            <input class="control-input" type="text" placeholder="Введите пароль">
        </label>
    </div>
    <button class="btn btn-shadow">
        Войти
    </button>
    <button class="btn btn-shadow">
        Регистрация
    </button>
</form>
